<hotel-header />

<p>Number of rooms: <span [innerText]="roomManage.totalRoom"></span></p>
<p
  [ngStyle]="
    roomManage.availableRoom <= 0
      ? {
          backgroundColor: 'red',
          color: 'white'
        }
      : null
  "
>
  Available rooms: <span>{{ roomManage.availableRoom }}</span>
</p>
<button (click)="bookRoom()">Book Room</button>
<button (click)="unbookRoom()">Unbook Room</button>
<button (click)="addRoom()">Add Room</button>
<p>{{ nowDate }}</p>
<div>
  <mat-form-field class="full-width">
    <mat-label>Lowest Price</mat-label>
    <input
      type="number"
      matInput
      [formControl]="priceFilter"
      placeholder="Lowest Price"
    />
  </mat-form-field>
</div>
<ng-container *ngIf="roomsList | async as roomsList">
  <div *ngIf="roomManage.availableRoom > 0">
    <hotel-rooms-list
      [roomList]="roomsList"
      [title]="roomTitle"
      [price]="priceFilter.value ?? 0"
      (selectRoomEvent)="selectRoom($event)"
      (updateRoomEvent)="updateRoom($event)"
      (deleteRoomEvent)="deleteRoom($event)"
      (roomListDestroyEvent)="clearSelectedRoom()"
    /></div
></ng-container>
<router-outlet />
<div *ngIf="selectedRoom">
  <button (click)="clearSelectedRoom()">Clear</button>
  <p>{{ selectedRoom | json }}</p>
</div>
