<div
  *ngIf="isSuccess !== undefined"
  [ngClass]="isSuccess ? 'succeed' : 'failed'"
>
  <p [ngStyle]="{ color: 'white', display: 'flex', alignItems: 'center' }">
    <mat-icon
      aria-hidden="false"
      [fontIcon]="isSuccess ? 'check_circle_outline' : 'highlight_off'"
    />
    <span>{{ isSuccess ? "Success" : "Failed" }}</span>
  </p>
</div>
<form #roomForm="ngForm" class="room-add-form" (ngSubmit)="addRoom(roomForm)">
  <mat-form-field [ngClass]="roomType.dirty && roomType.invalid ? 'error' : ''">
    <mat-label>Room Type</mat-label>
    <input
      #roomType="ngModel"
      matInput
      required
      name="roomType"
      [(ngModel)]="room.roomType"
    />
    <mat-error *ngIf="roomType.dirty && roomType.hasError('required')">
      Room type is required
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Amenities</mat-label>
    <input
      #roomAmenities="ngModel"
      matInput
      required
      minlength="5"
      name="amenities"
      [(ngModel)]="room.amenities"
    />
    <mat-error *ngIf="roomAmenities.hasError('required')">
      Amenities is required
    </mat-error>
    <mat-error *ngIf="roomAmenities.errors?.['minlength']">
      Amenities should be at least 5 characters.
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Price</mat-label>
    <input
      matInput
      required
      name="price"
      [(ngModel)]="room.price"
      type="number"
      class="example-right-align"
      placeholder="0"
    />
    <span matTextPrefix>$&nbsp;</span>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Photo URL</mat-label>
    <input matInput required name="photos" [(ngModel)]="room.photos" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Checkin Time</mat-label>
    <input
      matInput
      required
      name="checkinTime"
      [(ngModel)]="room.checkinTime"
      [matDatepicker]="pickerCheckin"
    />
    <mat-datepicker-toggle matIconSuffix [for]="pickerCheckin" />
    <mat-datepicker #pickerCheckin />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Checkout Time</mat-label>
    <input
      matInput
      required
      name="checkoutTime"
      [(ngModel)]="room.checkoutTime"
      [matDatepicker]="pickerCheckout"
    />
    <mat-datepicker-toggle matIconSuffix [for]="pickerCheckout" />
    <mat-datepicker #pickerCheckout />
  </mat-form-field>

  <button
    mat-raised-button
    color="primary"
    type="submit"
    [disabled]="roomForm.invalid"
  >
    Submit
  </button>
</form>
