<p>{{ bookingForm.value | json }}</p>
<p>{{ canLeaveRoute }}</p>
<button mat-stroked-button (click)="addPassport()">Add Passport</button>
<form [formGroup]="bookingForm" class="booking-form" (ngSubmit)="addBooking()">
  <div
    *ngIf="bookingForm.get('passport')"
    [style]="{ display: 'flex', alignItems: 'center', marginBottom: '1rem' }"
  >
    <mat-form-field class="full-width" subscriptSizing="dynamic">
      <mat-label>Passport</mat-label>
      <input
        type="text"
        matInput
        formControlName="passport"
        placeholder="Passport Number"
      />
    </mat-form-field>
    <button
      mat-mini-fab
      color="warn"
      style="margin-left: 0.5rem"
      (click)="deleteControl('passport')"
    >
      <mat-icon>delete</mat-icon>
    </button>
  </div>
  <mat-form-field class="full-width">
    <mat-label>Room ID</mat-label>
    <input
      type="text"
      matInput
      formControlName="roomId"
      placeholder="Room ID"
    />
  </mat-form-field>
  <mat-form-field class="full-width">
    <mat-label>Guest Email</mat-label>
    <input
      type="email"
      matInput
      formControlName="guestEmail"
      placeholder="Ex. pat@example.com"
    />
  </mat-form-field>
  <mat-form-field class="full-width">
    <mat-label>Guest Name</mat-label>
    <input
      type="text"
      matInput
      formControlName="guestName"
      placeholder="guestName"
    />
    <mat-error *ngIf="bookingForm.get('guestName')?.hasError('minlength')">
      Guest name should be minimum 5 characters!
    </mat-error>
  </mat-form-field>
  <mat-form-field class="full-width">
    <mat-label>Mobile Number</mat-label>
    <input
      type="text"
      matInput
      formControlName="mobileNumber"
      placeholder="mobileNumber"
    />
  </mat-form-field>
  <mat-form-field class="full-width">
    <mat-label>Booking Amount</mat-label>
    <input
      type="number"
      matInput
      formControlName="bookingAmount"
      placeholder="bookingAmount"
    />
  </mat-form-field>
  <mat-form-field class="full-width">
    <mat-label>Booking Status</mat-label>
    <input
      type="text"
      matInput
      formControlName="bookingStatus"
      placeholder="bookingStatus"
    />
  </mat-form-field>
  <mat-form-field class="full-width">
    <mat-label>Checkin Date</mat-label>
    <input
      type="text"
      matInput
      formControlName="checkinDate"
      [matDatepicker]="checkinPicker"
    />
    <mat-datepicker-toggle
      matIconSuffix
      [for]="checkinPicker"
    ></mat-datepicker-toggle>
    <mat-datepicker #checkinPicker></mat-datepicker>
  </mat-form-field>
  <mat-form-field class="full-width">
    <mat-label>Checkout Date</mat-label>
    <input
      type="text"
      matInput
      formControlName="checkoutDate"
      [matDatepicker]="checkoutPicker"
    />
    <mat-datepicker-toggle
      matIconSuffix
      [for]="checkoutPicker"
    ></mat-datepicker-toggle>
    <mat-datepicker #checkoutPicker></mat-datepicker>
  </mat-form-field>
  <mat-form-field class="full-width">
    <mat-label>Booking Date</mat-label>
    <input
      type="text"
      matInput
      formControlName="bookingDate"
      [matDatepicker]="bookingPicker"
    />
    <mat-datepicker-toggle
      matIconSuffix
      [for]="bookingPicker"
    ></mat-datepicker-toggle>
    <mat-datepicker #bookingPicker></mat-datepicker>
  </mat-form-field>

  <div formGroupName="address" class="booking-form__address">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Address</mat-panel-title>
      </mat-expansion-panel-header>

      <mat-form-field class="full-width">
        <mat-label>Address Line 1</mat-label>
        <input
          type="text"
          matInput
          formControlName="addressLine1"
          placeholder="Address Line 1"
        />
        <mat-error
          *ngIf="bookingForm.get('address.addressLine1')?.hasError('required')"
          >Address line 1 is required</mat-error
        >
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Address Line 2</mat-label>
        <input
          type="text"
          matInput
          formControlName="addressLine2"
          placeholder="Address Line 2"
        />
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>City</mat-label>
        <input type="text" matInput formControlName="city" placeholder="City" />
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>State</mat-label>
        <input
          type="text"
          matInput
          formControlName="state"
          placeholder="State"
        />
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Country</mat-label>
        <input
          type="text"
          matInput
          formControlName="country"
          placeholder="Country"
        />
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Zip Code</mat-label>
        <input
          type="text"
          matInput
          formControlName="zipCode"
          placeholder="Zip Code"
        />
      </mat-form-field>
    </mat-expansion-panel>
  </div>
  <div formArrayName="guests">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Guests</mat-panel-title>
      </mat-expansion-panel-header>

      <div
        *ngFor="let guest of guests.controls; let i = index"
        style="margin-bottom: 1rem"
      >
        <p [style]="{ marginBottom: '5px' }">Guest {{ i + 1 }}</p>
        <div [formGroupName]="i" style="margin-bottom: 0.5rem">
          <mat-form-field subscriptSizing="dynamic">
            <input
              type="text"
              matInput
              formControlName="guestName"
              placeholder="Guest Name"
            />
            <mat-error
              *ngIf="
                bookingForm
                  .get(['guests', i, 'guestName'])
                  ?.hasError('required')
              "
              >Guest Name is required</mat-error
            >
          </mat-form-field>
          <mat-form-field subscriptSizing="dynamic">
            <input
              type="number"
              matInput
              formControlName="age"
              placeholder="Age"
            />
          </mat-form-field>
        </div>
        <button mat-stroked-button color="warn" (click)="removeGuest(i)">
          Delete
        </button>
      </div>
    </mat-expansion-panel>
  </div>
  <mat-checkbox formControlName="tnc">Check me!</mat-checkbox>
  <div [style]="{ marginTop: '0.5rem' }">
    <button mat-flat-button color="warn" type="button" (click)="addGuest()">
      Add Guest
    </button>
    <button mat-raised-button color="primary" [disabled]="bookingForm.invalid">
      Book Room
    </button>
  </div>
</form>
