<p>{{ title }}</p>
<table>
  <tr>
    <th>Room Number</th>
    <th>Room Type</th>
    <th>Room Price</th>
    <th>Room Amenities</th>
    <th>Checkin Time</th>
    <th>Action</th>
  </tr>
  <tr
    *ngFor="let room of roomList; let e = even"
    [ngClass]="e ? 'even' : 'odd'"
  >
    <td>{{ room.roomId }}</td>
    <td>{{ room.roomType }}</td>
    <td>{{ room.price | currency : "EUR" }}</td>
    <td>{{ room.amenities }}</td>
    <td>{{ room.checkinTime | date : "dd/MMM/yyyy" }}</td>
    <th>
      <button type="button" (click)="selectRoom(room)">Select</button>
      <button type="button" (click)="deleteRoom(room.roomId)">Delete</button>
    </th>
  </tr>
</table>
